<div>
  <input type="text" placeholder="username" #username>
  <input type="text" placeholder="message" #message>
  <button type="button" name="button" (click)="sendMessage(username.value, message.value)">send</button>
  {{messageStatus}}
</div>
